@import "page-block.less";

@workspace-height: calc(100vh - 50px);
@tab-height: calc(100vh - 91px);

body {
    position: relative;
}
.control-sidebar {
    z-index: 99;
}

.skin-green .wrapper {
    background-color: white;
}

.fixed .content-wrapper,
.fixed .right-side {
    padding-top: 0;
}

.content-wrapper,
.main-footer {
    margin-left: 0;
}

.content-wrapper {
    height: @workspace-height;

}

.popline {
    li {
        a {
            padding: 0 10px;
            height: 26px;
        }
    }
}

.du-live-editor {
    position: relative;
    margin: 0;
    height: @workspace-height;
    border-top: 1px solid #ddd;

    ::-webkit-scrollbar {
        width: 0px;
        background: #fafafa;
    }


}

*[contentEditable='true'] {
    caret-color: #333;
}

.du-placeholder {
    position: relative;
    height: 60px;
    border: 1px dashed #f1da6f;
    background-color: #f1eed2;
    width: 100%;
    display: block;
    margin: 0;

    &.active {
        background-color: #d7f1db;
    }
}

.ui-state-highlight {
    height: 0px;
    border: 6px dashed rgb(3, 119, 19);
    background-color: rgb(3, 119, 19);
    margin: 3px;
    border-radius: 20px;
    width: 100%;
    display: block;
}

.du-live-workspace {
    display: flex;
    position: relative;
    height: @workspace-height;

    aside {
        width: 230px;
        display: none;
        .tab-content {
            height: @tab-height;
            overflow-y: scroll;
        }
    }

    .du-live-page {
        flex: 1;

        iframe {
            width: 100%;
            height: @workspace-height;
            border: none;

            ::-webkit-scrollbar {
                width: 0.8em;
                background: #fafafa;

            }
        }
    }


    &:hover {
        background-color: #d8e2f9;
    }

}

.du-live-layout,
.du-live-element {
    //position: relative;
    &:hover {
        border: 1px solid #4285f4;
    }
    &.ui-selected,
    &.active {
        border: 2px dashed #333;
    }
    p,h1,h2,h3 {
        min-height: 1em;
    }
}

.du-live-editor-toolbar {
    position: absolute;
    top: -22px;
    left: -2px;
    margin: auto;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    width: 240px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    background-color: #333;
    z-index: 999;
    color: white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    .du-live-del,
    .du-live-move,
    .du-live-add-bef,
    .du-live-add-aft,
    .du-live-setting,
    .du-live-animate,
    .du-live-edit {
        width: 50px;
        text-align: center;

        &.active,
        &:hover {
            background-color: #999;
            cursor: pointer;
        }
    }
}

.du-list-group-item {
    border-radius: 0 !important;
    padding: 0;
    margin-bottom: 10px;
    width: 100%;
    min-width: 150px;
    max-width: 200px;
    border: 1px solid #666;

    img {
        display: block;
        border: 0;
    }

    .name {
        font-size: 12px;
        line-height: 20px;
        background-color: #666;
    }
}

.du-live-editor-elements-control {
    .list-group {
        border-radius: 0;
    }
}
.live-content {
    &.toushi {
        .du-live-layout {
            margin:4px;
            padding:4px;
            background-color: #f1d9d2;
            border: 1px solid #f1946f
        }
        .du-live-element {
            margin:4px;
            padding:4px;
            background-color: #eaf5eb;
            border: 1px solid #cff8d5
        }
    }
}

#wysiwyg-editor {
    // position: absolute;
    // right: -1px;
    // top: -25px;
    background: #4285f4;
    color: #fff;
    display: none;
    float: left;
    padding: 8px 0px;
    border-radius: 3px 3px 0px 0px;
}

#wysiwyg-editor.default-editor a,
#section-actions a#add-section-btn {
    pointer-events: auto;
    color: #fff;
    font-size: 16px;
    padding-right: 2px;
    padding: 2px 5px;
}

#wysiwyg-editor {
    color: #111;
    background: #fff;
    pointer-events: auto;
}

#wysiwyg-editor.default-editor a {
    display: inline-block;
    padding: 8px;
    line-height: 1;
    color: #333;
    font-size: 18px;
}

#wysiwyg-editor.default-editor a:last-child {
    border-right: none;
}

#wysiwyg-editor.default-editor a:hover {
    background: #eee;
}

#wysiwyg-editor.default-editor div.separator {
    display: inline-block;
    background: #ddd;
    width: 1px;
    height: 18px;
    vertical-align: text-bottom;
    top: 0;
    padding: 0;
    margin: 0;
}

#wysiwyg-editor.default-editor>div.dropdown,
#wysiwyg-editor.default-editor>select,
#wysiwyg-editor.default-editor>input {
    display: inline-block;
    width: auto;
    vertical-align: top;
    border: none;
    pointer-events: all;
    line-height: 2.2rem;
    height: 32px;
    padding: 0;
    box-shadow: none;
    background-position: right 0.5rem center;
}

#wysiwyg-editor.default-editor>div.dropdown[type="color"],
#wysiwyg-editor.default-editor>select[type="color"],
#wysiwyg-editor.default-editor>input[type="color"] {
    padding: 3px;
    height: 30px;
    width: 32px;
    box-shadow: none;
    border: 1px solid #ddd;
    margin: 0 0.5rem;
    margin-top: 2px;
    border-radius: 3px;
}

#wysiwyg-editor.default-editor>div.dropdown[type="color"].form-control-color::-moz-color-swatch,
#wysiwyg-editor.default-editor>select[type="color"].form-control-color::-moz-color-swatch,
#wysiwyg-editor.default-editor>input[type="color"].form-control-color::-moz-color-swatch {
    border-radius: 3px;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.25);
    border: none;
}

#wysiwyg-editor.default-editor>div.dropdown[type="color"].form-control-color::-webkit-color-swatch,
#wysiwyg-editor.default-editor>select[type="color"].form-control-color::-webkit-color-swatch,
#wysiwyg-editor.default-editor>input[type="color"].form-control-color::-webkit-color-swatch {
    padding: 0;
    border-radius: 3px;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.25);
    border: none;
}

#wysiwyg-editor.default-editor select {
    padding: 0rem 1.8rem 0 1rem;
}

#wysiwyg-editor.default-editor div.dropdown a:after {
    vertical-align: middle !important;
    font-size: 14px;
    margin-bottom: 0.2rem;
}

#wysiwyg-editor.default-editor div.dropdown a.dropdown-item {
    display: block;
}

#wysiwyg-editor.default-editor div.dropdown a.dropdown-item i {
    margin-right: 0;
}