.flex-column-middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.img-holder {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

img {
  max-width: 100%;
  display: block;
}