.lunar {
    width: 434px;
    font-size: 12px;
    background-color: white;
}

.lunar #top {
    height: 41px;
    line-height: 41px;
    border-bottom:  1px solid #f4f4f4;
    padding: 0 10px;
    font-size: 18px;
}

.lunar .lunar-view {
    padding: 10px 10px;
}

.lunar #top select {
    font-size: 12px
}

.lunar ul#wk {
    margin: 0;
    padding: 0;
    height: 25px
}

.lunar ul#wk li {
    float: left;
    width: 60px;
    text-align: center;
    line-height: 25px;
    list-style: none
}

.lunar ul#wk li b {
    font-weight: normal;
    color: #c60b02
}

.lunar #cm {
    clear: left;
    position: relative
}

.lunar #cm .cell {
    position: absolute;
    width: 42px;
    height: 36px;
    text-align: center;
    margin: 0 0 0 9px
}

.lunar #cm .cell .so {
    font: bold 16px arial;
}

.lunar #bm {
    text-align: right;
    height: 12px;
    line-height: 12px;
}

.lunar #bm a {
    color: #7977ce;
}

.lunar #fd {
    display: none;
    position: absolute;
    border: 1px solid #dddddf;
    background: #feffcd;
    padding: 10px;
    line-height: 21px;
    width: 150px
}

.lunar #fd b {
    font-weight: normal;
    color: #c60a00
}