.ajax-file-input {
    position: relative;

    .image-preview {
        padding: 10px 0;

        img {
            max-width    : 75%;
            border-radius: 10px;
        }
    }

    .cropper-dialog {
        top             : 40px;
        display         : none;
        position        : absolute;
        background-color: white;
        padding         : 15px;
        border          : 5px solid #eee;
        margin          : auto;
        z-index         : 1080;

        .cropper {
            position     : relative;
            margin-bottom: 15px;

            .cropper-image-box {
                img {
                    max-width: 100%;
                }
            }
        }

        .cropper-buttons {
            text-align: center;
        }
    }
}