@footer-min-height: 180px;

html,
body {
    height        : 100%;
    //  background: #f5f5f5;
	// background: #efefef;
}


.wrap {
    min-height: 100%;
    height    : auto;
    margin    : 0 auto -@footer-min-height;
    padding   : 0 0 @footer-min-height;
}

.wrap>.container {
    padding: 0px 15px 0px;
}

.footer {
    height          : @footer-min-height;
    background-color: #FFF; //darken(@brand-primary, 10%);
    border-top      : 1px solid #ddd;
    padding-top     : 20px;

    &,
    a,
    a:hover,
    a:active {
        color: @brand-primary;
    }
}

.btn {
	border-radius: 100px;
}

.dua {
	&.dua-banner {
		background-image: url(/images/banner-bg.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
	.jumbotron {
	    //text-align      : center;
	    background-color: transparent;
		padding-right: 15px;
	}
	
	.jumbotron .btn {
	    font-size: 21px;
	    padding  : 14px 24px;
	}
	
	.show-swiper {
		padding: 30px;
		.swiper-zoom-container {
			padding: 0 15px;
		}
		img {
			max-height: 275px;
			border-radius: 4px;
		}
	}
}

.not-set {
    color     : #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after,
a.desc:after {
    position    : relative;
    top         : 1px;
    display     : inline-block;
    font-family : 'Glyphicons Halflings';
    font-style  : normal;
    font-weight : normal;
    line-height : 1;
    padding-left: 5px;
}

a.asc:after {
    content:
        /*"\e113"*/
        "\e151";
}

a.desc:after {
    content:
        /*"\e114"*/
        "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display   : block;
    margin-top: 5px;
    color     : #999;
}

.error-summary {
    color      : #a94442;
    background : #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding    : 10px 20px;
    margin     : 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li>form>button.logout {
    padding: 15px;
    border : none;
}

@media(max-width:767px) {
    .nav li>form>button.logout {
        display   : block;
        text-align: left;
        width     : 100%;
        padding   : 10px 15px;
    }
}

.nav>li>form>button.logout:focus,
.nav>li>form>button.logout:hover {
    text-decoration: none;
}

.nav>li>form>button.logout:focus {
    outline: none;
}


/* customer css */

.border-primary {
	border: 1px solid @brand-primary;
}

.border-light-primary {
	border: 1px solid lighten(@brand-primary,25%);
}

.grid-view .summary {
    padding-bottom: 10px;
}

.block-bar,
.block-bar-gray {
    padding: 30px 0;

    h3 {
        text-align   : center;
        margin-bottom: 40px;
    }
}

.block-bar {
    background-color: white;

}

.block-bar-gray {
    background-color: lighten(@gray-lighter, 1%);

}

.page-cover {
    img {
        width: 100%;

        @media (min-width: @grid-float-breakpoint) {
            width: auto;
        }
    }
}
a {
	color: @brand-primary;
}
	
.breadcrumb {
	margin-top: 15px;
    margin-bottom: 0;
}

.nav {
    .active {
        background-color: @brand-primary;

        &,
        a {
            color: white;
        }
    }

    .lang-active {
        &,
        a {
            color: @brand-primary !important;
        }
    }
}

.product-list {
    .product {
        display: flex;

        .cover {
            width: 120px;

        }

        .info {
            flex: 1;

        }
    }
}

.thumbnail {
    border-radius: 0;
    border       : 0;

    .img-aspect-11 {
        position   : relative;
        width      : 100%;
        padding-top: 100%;
        overflow   : hidden;

        img {
            position: absolute;
            top     : 0;
            left    : 0;
            bottom  : 0;
            right   : 0;
            width   : 100%;
        }
    }

    .caption {
        margin-left     : -4px;
        margin-right    : -4px;
        margin-bottom   : -4px;
        background-color: @brand-primary;

        h3 {
            margin  : 5px;
            height  : 53px;
            overflow: hidden;
            a {
                color    : white;
                font-size: medium;
            }
        }
    }
}

.article {
    justify-content: space-between;
    img {
        display: block !important;
        margin:auto;
        max-width: 100%;
    }
    table {
        margin:auto;
        max-width: 100%;
    }
}