.panel {
	border-radius: 0;
	.panel-body {
		padding:0;
		.nav {
		    .active {
		        background-color: @brand-primary;
		
		        &,
		        a {
		            color: white;
		        }
		    }
		
		    .lang-active {
		
		        &,
		        a {
		            color: @brand-primary  !important;
		        }
		    }
		}
	}
}