.element-section .col-md-6 {
    height: 200px;
}

.element-section .img-holder {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.section-head-info {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.element-section-info {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: left;
    background-color: white;
}


/* 小屏幕（平板，大于等于 768px） */

@media (min-width: 768px) {
    .element-section .col-md-6 {
        height: 250px;
    }
}


/* 中等屏幕（桌面显示器，大于等于 992px） */

@media (min-width: 992px) {
    .element-section .col-md-6 {
        height: 300px;
    }
}


/* 大屏幕（大桌面显示器，大于等于 1200px） */

@media (min-width: 1260px) {
    .element-section .col-md-6 {
        height: 400px;
    }
}