/*
 * Component: panel
 * ----------------
 */

.panel {
	margin-bottom: @line-height-computed;
	background-color: @panel-bg;
	border: 0;
	border-radius: @panel-border-radius;
	.box-shadow(0 1px 1px rgba(0, 0, 0, .05));

	.small-box {
		margin-bottom: 0px;
	}
}

.panel-adminlte {
	.panel-heading {
		padding: 20px;
		background-color: @alert-warning-bg;//@state-warning-bg;//@state-info-bg;#d2d6de; //#d2d6de;//#c6cbd0;
		color: @alert-warning-text;//@gray;
		//padding: @panel-heading-padding;
		border: 0;
		//border-bottom: 4px solid @alert-warning-text;
		p {
			font-size: 12px;
			margin:0px;
		}
		.border-top-radius((@panel-border-radius - 1));

		>.dropdown .dropdown-toggle {
			color: inherit;
		}

		.grid-summary {
			display: inline-block;
		}
	}

	.panel-title {
		margin-bottom: 5px;
		font-size: 13px;
		color: inherit;
		font-weight: bold;

		>a,
		>small,
		>.small,
		>small>a,
		>.small>a {
			color: inherit;
		}
	}

	.panel-tools {
		margin-bottom: 10px;
	}

	.panel-footer {
		border-top: 0;
		padding: 15px;
		line-height: 1;
		.grid-summary {
			display: inline-block;
		}

	}

	.table {
		margin: 0px;
		th{
			font-weight: 400;
			&>a {
				color: @gray-light;
			}
		}
		td,td>a{
			font-weight: 100;
		
		}
	}

	/* NAV TABS */
	.nav-tabs-custom {
		margin-bottom: 5px;
		background: #fff;
		box-shadow: 0 0 0;
		border-radius: @box-border-radius;
		border: 0px;

	}

	
	.pagination {
		display: inline-block;
		margin: 0px;
		background-color: white;
		> li {
			> a,
			> span {
			  line-height: 16px;
			  padding: 6px 10px;
			}
		}
	}


}

// .table {
// 	tbody,
// 		tfoot,
// 		thead {
// 			tr {
// 				th {
// 					font-weight: normal;
// 				}
// 			}
// 		}
// }